{% extends 'p_base.html' %}
{% block extra_style %}
    <style>
        #footer {
            padding: 15px 0;
            background: #fff;
            border-top: 1px solid #ddd;
            text-align: center;
        }

        #topcontrol {
            color: #fff;
            z-index: 99;
            width: 30px;
            height: 30px;
            font-size: 20px;
            background: #222;
            position: relative;
            right: 14px !important;
            bottom: 11px !important;
            border-radius: 3px !important;
        }

        #topcontrol:after {
            /*top: -2px;*/
            left: 8.5px;
            content: "\f106";
            position: absolute;
            text-align: center;
            font-family: FontAwesome;
        }

        #topcontrol:hover {
            color: #fff;
            background: #18ba9b;
            -webkit-transition: all 0.3s ease-in-out;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }

        .label-type, .label-status, .label-order {
            background-color: #fff;
            color: #f60;
            padding: 5px;
            border: 1px #f60 solid;
        }

        #typeList :not(:first-child) {
            margin-top: 20px;
        }

        .label-txt {
            margin: 10px 10px;
            border: 1px solid #ddd;
            padding: 4px;
            font-size: 14px;
        }

        .panel {
            border-radius: 0;
        }

        .progress-bar-default {
            background-color: #ddd;
        }
    </style>
{% endblock extra_style %}

{% block content %}

    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="panel panel-default">
                    <div class="panel-heading" style="text-align:center;">
                        <div class="container-fluid">
                            <div class="row clearfix">
                                <div class="col-md-3 column">
                                    <div class="progress"
                                         style="height:50px;border-radius:0;    position: absolute;width: 75%;right:49px;">
                                        <div class="progress-bar progress-bar-success" role="progressbar"
                                             aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                                             style="width: 100%;height:50px;">
                                            <div style="font-size:16px;margin-top:15px;">1. 项目及发起人信息</div>
                                        </div>
                                    </div>
                                    <div style="right: 0;border:10px solid #ddd;border-left-color: #88b7d5;border-width: 25px;position: absolute;
                                             border-left-color: rgba(92, 184, 92, 1);
                                             border-top-color: rgba(92, 184, 92, 0);
                                             border-bottom-color: rgba(92, 184, 92, 0);
                                             border-right-color: rgba(92, 184, 92, 0);
                                        ">
                                    </div>
                                </div>
                                <div class="col-md-3 column">
                                    <div class="progress"
                                         style="height:50px;border-radius:0;position: absolute;width: 75%;right:49px;">
                                        <div class="progress-bar progress-bar-default" role="progressbar"
                                             aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                                             style="width: 100%;height:50px;">
                                            <div style="font-size:16px;margin-top:15px;">2. 回报设置</div>
                                        </div>
                                    </div>
                                    <div style="right: 0;border:10px solid #ddd;border-left-color: #88b7d5;border-width: 25px;position: absolute;
                                             border-left-color: rgba(221, 221, 221, 1);
                                             border-top-color: rgba(221, 221, 221, 0);
                                             border-bottom-color: rgba(221, 221, 221, 0);
                                             border-right-color: rgba(221, 221, 221, 0);
                                        ">
                                    </div>
                                </div>
                                <div class="col-md-3 column">
                                    <div class="progress"
                                         style="height:50px;border-radius:0;position: absolute;width: 75%;right:49px;">
                                        <div class="progress-bar progress-bar-default" role="progressbar"
                                             aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                                             style="width: 100%;height:50px;">
                                            <div style="font-size:16px;margin-top:15px;">3. 确认信息</div>
                                        </div>
                                    </div>
                                    <div style="right: 0;border:10px solid #ddd;border-left-color: #88b7d5;border-width: 25px;position: absolute;
                                             border-left-color: rgba(221, 221, 221, 1);
                                             border-top-color: rgba(221, 221, 221, 0);
                                             border-bottom-color: rgba(221, 221, 221, 0);
                                             border-right-color: rgba(221, 221, 221, 0);
                                        ">
                                    </div>
                                </div>
                                <div class="col-md-3 column">
                                    <div class="progress" style="height:50px;border-radius:0;">
                                        <div class="progress-bar progress-bar-default" role="progressbar"
                                             aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                                             style="width: 100%;height:50px;">
                                            <div style="font-size:16px;margin-top:15px;">4. 完成</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="container-fluid">
                            <div class="row clearfix">
                                <div class="col-md-12 column">
                                    <blockquote style="border-left: 5px solid #f60;color:#f60;padding: 0 0 0 20px;">
                                        <b>
                                            项目及发起人信息
                                        </b>
                                    </blockquote>
                                </div>
                                <div class="col-md-12 column">
                                    <div class="page-header" style="    border-bottom-style: dashed;">
                                        <h3>
                                            项目信息
                                        </h3>
                                    </div>
                                    <form class="form-horizontal" id="form" action="{% url 'users:ini2' %}" method="post" enctype="multipart/form-data">
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-2 control-label">分类信息</label>
                                            <div class="col-sm-10">
                                                {% for tag in tags %}
                                                    <label class="radio-inline">
                                                        <input type="radio" name="tag" id="inlineRadio1"
                                                               value="{{ tag.name }}"> {{ tag.name }}
                                                    </label>
                                                {% endfor %}


                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-2 control-label">标签</label>
                                            <div class="col-sm-10">
                                                <ul style="list-style:none;padding-left:0;">

                                                    <li style="margin:10px 0">[电脑]
                                                        {% for label in labels %}
                                                            <span>
                                                            <input type="checkbox" value="{{ label.id }}" name="labelname" />{{ label.name }}
                                                            </span>
                                                        {% endfor %}
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">项目名称</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" name="p_name">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">一句话简介</label>
                                            <div class="col-sm-10">
                                                <textarea class="form-control" rows="5" name="p_desc"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">筹资金额（元）</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" style="width:100px;"
                                                       name="p_money">
                                                <label class="control-label">筹资金额不能低于100元,不能高于1000000000元</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">筹资天数（天）</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" style="width:100px;"
                                                       name="p_time">
                                                <label class="control-label">一般10-90天，建议30天</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">项目头图</label>
                                            <div class="col-sm-10">
                                                <input type="file" class="btn btn-primary btn-lg active" value="上传图片"
                                                       name="image_title">
                                                <label class="control-label">图片上无文字,支持jpg、jpeg、png、gif格式，大小不超过2M，建议尺寸：740*457px</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">项目详情</label>
                                            <div class="col-sm-10">
                                                <input type="file" class="btn btn-primary btn-lg active" value="上传图片"
                                                       name="image_detail">
                                                <label class="control-label">支持jpg、jpeg、png、gif格式，大小不超过2M，建议尺寸：宽740px</label>
                                            </div>
                                        </div>
                                        <div class="page-header" style="    border-bottom-style: dashed;">
                                            <h3>发起人信息</h3>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">自我介绍</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" placeholder="一句话自我介绍，不超过40字"
                                                       name="u_name">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">详细自我介绍</label>
                                            <div class="col-sm-10">
                                                <textarea class="form-control" rows="5" name="u_desc"
                                                          placeholder="向支持者详细介绍你自己或你的团队及项目背景，让支持者在最短时间内了解你，不超过160字"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">联系电话</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" placeholder="此信息不会显示在项目页面"
                                                       name="u_phone">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">客服电话</label>
                                            <div class="col-sm-10">
                                                <input type="text" class="form-control" placeholder="此信息显示在项目页面"
                                                       name="u_c_phone">
                                            </div>
                                        </div>
                                        <br>
                                        <div class="panel-footer" style="text-align:center;">
                                            <input type="submit" class="btn  btn-warning btn-lg"
                                                   value="下一步" id="btn">
                                        </div>
                                        <input type='hidden' name='csrfmiddlewaretoken'
                                               value='JYLuFCOHhuV7Z1FAUmTY7qgq21jTCGtgPgDOwLRmh8D2ZL5uD0zJYtkcIgoapCsp'/>
                                        {% csrf_token %}
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock content %}
{% block extra_js %}
    <script src="http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js"></script>
{#    <script>#}
{#        $(function () {#}
            {#$('#btn').on('click',function () {#}
            {#    var tag = $("input[name='inlineRadioOptions']:checked").val();#}
            {#alert(tag)；#}
            {#    var p_name = $("#p_name").val();#}
            {#    var p_desc = $("#p_desc").val();#}
            {#    var p_money = $("#p_money").val();#}
            {#    var p_time = $("#p_time").val();#}
            {#var image_title = $("#image_title")[0].files[0];#}
            {#alert(image_title);#}
            {#var image_detail = $("#image_detail")[0].files[0];#}
            {##}
            {#    var u_name = $("#u_name").val();#}
            {#    var u_phone = $("#u_phone").val();#}
            {#    var u_c_phone = $("#u_c_phone").val();#}
            {#    var u_desc = $("#u_desc").val();#}
            {#    $.ajax({#}
            {#        cache:false,#}
            {#        url: {% url 'users:ini2' %},#}
            {#        async: true,#}
            {#        type:'POST',#}
            {#        data: {#}
            {#            'tag':tag,#}
            {#            'p_name':p_name,#}
            {#            'p_desc':p_desc,#}
            {#            'p_money':p_money,#}
            {#            'p_time':p_time,#}
            {#            'u_name':u_name,#}
            {#            'u_phone':u_phone,#}
            {#            'u_c_phone':u_c_phone,#}
            {#            'u_desc':u_desc,#}
            {#'image_title':image_title,#}
            {#'image_detail':image_detail,#}
            {#        },#}
            {#        beforeSend:function (xhr,setting) {#}
            {#            xhr.setRequestHeader("X-CSRFToken","{{ csrf_token }}")#}
            {#        },#}
            {#        success:function (data) {#}
            {#            if (data.res == 'ok'){#}
            {#                window.location.href='{% url "users:ini3" %}'#}
            {#            }else{#}
            {#                window.location.reload();#}
            {#                alert('aaa')#}
            {#            }#}
            {#        }#}
            {#    })#}
{#            //{#})#}
{#            $("#btn").on('click', function () {#}
{#                var form = new FormData(document.getElementById('form'));#}
{#                $.ajax({#}
{#                    url: "{% url 'users:ini2' %}",#}
{#                    type: 'POST',#}
{#                    data: form,#}
{#                    processData: false,#}
{#                    contentType: false,#}
{#                    beforeSend: function (xhr, setting) {#}
{#                        xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}")#}
{#                    },#}
{#                    success: function (data) {#}
{#                        window.location.href = "{% url "users:ini3" %}"#}
{#                    },#}
{#                })#}
{#            });#}
{##}
{#        })#}
{#    </script>#}
{% endblock extra_js %}