{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
    <!-- Carousel
================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            {% for banner in banners %}
                {% if forloop.counter == 1 %}
                    <div class="item active" onclick="window.location.href='{{ banner.url }}'" style="cursor:pointer;">
                        <img src="{{ MEDIA_URL }}{{ banner.image }}" alt="First slide">
                    </div>
                {% else %}
                    <div class="item" onclick="window.location.href='{{ banner.url }}'" style="cursor:pointer;">
                        <img src="{{ MEDIA_URL }}{{ banner.image }}" alt="First slide">
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
        </a>
    </div><!-- /.carousel -->


    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
            <div class="col-lg-4">
                <img class="img-circle" src="{% static 'img/p1.jpg' %}" alt="Generic placeholder image"
                     style="width: 140px; height: 140px;">
                <h2>智能高清监控机器人</h2>
                <p>可爱的造型，摄像安防远程互联的全能设计，让你随时随地守护您的家人，陪伴你的生活。</p>
                <p><a class="btn btn-default" href="project.html" role="button">项目详情 &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="img-circle" src="{% static 'img/p2.jpg' %}" alt="Generic placeholder image"
                     style="width: 140px; height: 140px;">
                <h2>NEOKA智能手环</h2>
                <p>要运动更要安全，这款、名为“蝶舞”的NEOKA-V9100智能运动手环为“安全运动而生”。</p>
                <p><a class="btn btn-default" href="project.html" role="button">项目详情 &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <img class="img-circle" src="{% static 'img/p3.png' %}" alt="Generic placeholder image"
                     style="width: 140px; height: 140px;">
                <h2>驱蚊扣</h2>
                <p>随处使用的驱蚊纽扣，<br>解决夏季蚊虫问题。</p>
                <p><a class="btn btn-default" href="project.html" role="button">项目详情 &raquo;</a></p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
        {% for tag in tags %}
        <div class="container">
            <div class="row clearfix">
                <div class="col-md-12 column">
                    <div class="box ui-draggable" id="mainBox">
                        <div class="mHd" style="">
                            <div class="path">
                                <a href="{% url 'project:list' %}">更多...</a>
                            </div>
                            <h3>
                                {{ tag.name }}
                                <small style="color:#FFF;">开启智慧未来</small>
                            </h3>
                        </div>
                        <div class="mBd" style="padding-top:10px;">
                            <div class="row">
                                {% for project in tag.project_set.all %}
                                <div class="col-md-3">
                                    <div class="thumbnail">
                                        <img alt="300x200" src="{{ MEDIA_URL }}{{ project.image1 }}"/>
                                        <div class="caption">
                                            <h3 class="break">
                                                <a href="{% url 'project:detail' project.id %}">{{ project.name }}</a>
                                            </h3>
                                            <p>
                                            <div style="float:left;"><i class="glyphicon glyphicon-screenshot"
                                                                        title="目标金额"></i> ${{ project.money }}
                                            </div>
                                            <div style="float:right;"><i title="截至日期"
                                                                         class="glyphicon glyphicon-calendar"></i>
                                                {{ project.date }}
                                            </div>
                                            </p>
                                            <br>
                                            <div class="progress" style="margin-bottom: 4px;">
                                                <div class="progress-bar progress-bar-success" role="progressbar"
                                                     aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"
                                                     style="width: {% widthratio project.money project.supportmoney 10 %}%">
                                                    <span>{% widthratio project.money project.supportmoney 10 %}% </span>
                                                </div>
                                            </div>
                                            <div><span style="float:right;"><i
                                                    class="glyphicon glyphicon-star-empty"></i></span> <span><i
                                                    class="glyphicon glyphicon-user" title="支持人数"></i> {{ project.supporter }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        {% endfor %}
{% endblock content %}