{% load staticfiles %}
<!DOCTYPE html>
<html lang="utf-8">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>众筹网</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/theme.css' %}">

        {% block extra_style %}
        {% endblock extra_style %}

</head>
<body>
<div class="navbar-wrapper">
    <div class="container">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{% url 'users:index' %}" style="font-size:32px;">互联网众筹系统</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse" style="float:right;">
                    {% block log %}
                        <ul class="nav navbar-nav">
                            {% if request.user.is_authenticated %}
                                <li class="dropdown">
                                    <a href=" " class="dropdown-toggle" data-toggle="dropdown"><i
                                            class="glyphicon glyphicon-user"></i> {{ user.username }}<span
                                            class="caret"></span></a>
                                    <ul class="dropdown-menu" role="menu">
                                        <li><a href="#"><i class="glyphicon glyphicon-scale"></i> 会员中心</a>
                                        </li>
                                        <li><a href="#"><i class="glyphicon glyphicon-comment"></i> 消息 </a></li>
                                        <li class="divider"></li>
                                        <li><a href="{% url 'users:logout' %}"><i class="glyphicon glyphicon-off"></i>
                                            退出系统</a></li>
                                    </ul>
                                </li>
                            {% else %}
                                <div id="navbar" class="navbar-collapse collapse" style="float:right;">
                                    <ul class="nav navbar-nav navbar-right">
                                        <li><a href="{% url 'users:login' %}">登录</a></li>
                                        <li><a href="{% url 'users:register' %}">注册</a></li>
                                    </ul>
                                </div>
                            {% endif %}
                        </ul>
                    {% endblock log %}
                </div>
            </div>
        </nav>
    </div>
</div>

<div class="container theme-showcase" role="main">

    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li>
                                <a rel="nofollow" href="{% url 'users:index' %}"><i class="glyphicon glyphicon-home"></i> 众筹首页</a>
                            </li>
                            <li class="active">
                                <a rel="nofollow" href="{% url 'project:list' %}"><i class="glyphicon glyphicon-th-large"></i> 项目总览</a>
                            </li>
                            <li>
                                <a rel="nofollow" href="{% url 'users:ini1' %}"><i class="glyphicon glyphicon-edit"></i> 发起众筹</a>
                            </li>
                            <li>
                                <a rel="nofollow" href="#"><i class="glyphicon glyphicon-user"></i>
                                    我的众筹</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
{% block content %}
{% endblock content %}

    <div class="container" style="margin-top:20px;">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div id="footer">
                    <div class="footerNav">
                        <a rel="nofollow" href="http://www.atguigu.com">关于我们</a> | <a rel="nofollow"
                                                                                      href="http://www.atguigu.com">服务条款</a>
                        | <a rel="nofollow" href="http://www.atguigu.com">免责声明</a> | <a rel="nofollow"
                                                                                        href="http://www.atguigu.com">网站地图</a>
                        | <a rel="nofollow" href="http://www.atguigu.com">联系我们</a>
                    </div>
                    <div class="copyRight">
                        Copyright ?2010-2014atguigu.com 版权所有
                    </div>
                </div>

            </div>
        </div>
    </div>

</div> <!-- /container -->
<script src="{% static 'jquery/jquery-2.1.1.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'script/docs.min.js' %}"></script>
<script src="{% static 'script/back-to-top.js' %}"></script>
<script>
    $('#myTab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show')
    })
</script>
{% block extra_js %}
{% endblock extra_js %}
</body>
</html>